Sistema gerador de documentos fiscais-handoff.zip
.env
_zip_extract/sistema-gerador-de-documentos-fiscais/README.md
_zip_extract/sistema-gerador-de-documentos-fiscais/project/uploads/pasted-1782242096657-0.png
_zip_extract/sistema-gerador-de-documentos-fiscais/project/support.js
_zip_extract/sistema-gerador-de-documentos-fiscais/project/Sistema Fiscal Alvorada.dc.html
_zip_extract/sistema-gerador-de-documentos-fiscais/project/assets/logo.png
_zip_extract/sistema-gerador-de-documentos-fiscais/project/.thumbnail
